<h2 mat-dialog-title>{{ title }}</h2>

<mat-dialog-content>
  <p>{{ data.message }}</p>

  <mat-form-field *ngIf="shouldShowInput" appearance="outline" class="w-100 centered-field">
    <input matInput [(ngModel)]="inputValue" [placeholder]="inputPlaceholder" [required]="isInputRequired"
      [type]="inputType" />
  </mat-form-field>

  <mat-radio-group *ngIf="hasRadio" [(ngModel)]="radioValue" class="radio-group">
    <mat-radio-button *ngFor="let option of radioOptions" [value]="option.value" class="radio-item">
      {{ option.label }}
    </mat-radio-button>
  </mat-radio-group>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="cancel()">
    {{ cancelText }}
  </button>

  <button mat-raised-button color="warn" [disabled]="isConfirmDisabled" (click)="confirm()">
    {{ confirmText }}
  </button>
</mat-dialog-actions>