.app-container-wrapper {
  background-color: #fbfcff;
  padding: 32px;
  border-radius: 16px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);

  width: fit-content;

  /* horizontal centering */
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}
