.app-component-wrapper {
  background-color: #ffffff;
  padding: 16px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  margin: 40px auto;  
}

.app-element-wrapper {
  background-color: #D9D9E6; 
  padding: 32px;
  border-radius: 16px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);

  width: fit-content;

  /* center horizontally */
  margin: 10px auto; // v | H
}

