<div class="dashboard-container">

    <!-- Reusable Form -->
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <app-dashboard-form-component [submitLabel]="isEditMode() ? 'Update' : 'Save'" [submitDisabled]="form.invalid || isViewMode()" (cancel)="cancel()">
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Brand Name</mat-label>
                <input matInput formControlName="brandName" />

                <mat-error *ngIf="brandNameCtrl.hasError('required')">
                    Brand name is required
                </mat-error>

                <mat-error *ngIf="brandNameCtrl.hasError('pattern')">
                    Only letters and spaces allowed
                </mat-error>
            </mat-form-field>
        </app-dashboard-form-component>
    </form>

    <!-- Reusable List (SEARCH + TABLE + PAGINATION) -->
    <app-dashboard-table-component [data]="items()" [columns]="columns" searchLabel="Search Brand"
        [searchValue]="searchText()" [totalCount]="totalCount()" [pageSize]="pageSize()"
        (searchChange)="onSearch($event)" (pageChange)="onPageChange($event)">

        <ng-template tableActions let-row>
            <button mat-icon-button color="primary" (click)="view(row)">
                <mat-icon>visibility</mat-icon>
            </button>

            <button mat-icon-button color="accent" (click)="edit(row)">
                <mat-icon>edit</mat-icon>
            </button>

            <button mat-icon-button color="warn" (click)="delete(row)">
                <mat-icon>delete</mat-icon>
            </button>
        </ng-template>
    </app-dashboard-table-component>
</div>